<h1>All Github Projects</h1>

@model IEnumerable<Portfolio.Models.Project>

<ol>
    @foreach (var project in Model)
    {
        <li>
            <ul>
                <li>@Html.DisplayFor(modelItem => project.Name)</li>
                <li>@Html.DisplayFor(modelItem => project.Description)</li>
                <li>@Html.TextBoxFor(modelItem => project.Html_Url)</li>
                <li>@Html.DisplayFor(modelItem => project.Updated_At)</li>
            </ul>
        </li>
    }
</ol>

@Html.ActionLink("Back home", "Index")